bib.bib
paper.aux
paper.bbl
paper.blg
paper.log
paper.out
paper.pdf
paper_preamble.fmt
paper_preamble.log
paper_preamble.aux
paper_preamble.fls
paper_preamble.fdb_latexmk
paper.fdb_latexmk
paper.fls

.*.swp

softdevbib/
